{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Bitcoin Price Prediction{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/classic.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/classic.date.css' %}" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    
    <!-- Javascript -->
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>  
    <script src="{% static 'app/scripts/picker.js' %}"></script>
    <script src="{% static 'app/scripts/picker.date.js' %}"></script>
    
    <link rel="shortcut icon" href="{% static 'app/content/favicon.ico' %}" />

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Bit Predict</a>
        </div>
    </div>

    <div class="container body-content">

    {% block body %}
        
    </div>
    
    {% endblock %}
    <footer>
        <p style="color:#fff" class="text-center">&copy; 2021 By Fangyi Yu</p>
    </footer>

</body>

</html>
