
* {
	margin: 0;
	padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	background-color: rgba(33,45,51);
	/*	background: linear-gradient(135deg, rgba(65,131,155,1) 0%,rgba(51,98,123,1) 100%);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:#fff;
}

* {
	box-sizing: border-box;
}

#container {
	display: table;
	width: 100%;
	background: #202b33;
	margin: 60px auto;
	border-radius: 4px;
}

/* Side Bar */
#sideMenu {
	width: 240px;
	height: 100%;
	padding: 30px;
	border-right: 1px solid #111;
	display: table-cell;
	vertical-align: top;
	color: #fff;
}

.menu {
	list-style: none;
	margin: 24px 0;
	padding: 0;
}

	.menu li {
		display: block;
		height: 30px;
		width: 100%;
		line-height: 30px;
		font-size: 14px;
		font-weight: 200;
		color: rgba(255, 255, 255, .6);
		position: relative;
	}

		.menu li:hover {
			color: #239ae3;
		}

		.menu li:first-child {
			height: 35px;
			line-height: 35px;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
		}

.addCategory {
	font-size: 13px;
	font-weight: 200;
	color: rgba(255, 255, 255, .2);
}

	.addCategory:hover {
		color: #fff;
	}

/* Content */
#content {
	width: calc(100% - 240px);
	height: 100%;
	padding: 25px;
	display: table-cell;
}

#titleBar {
	height: 36px;
	margin-bottom: 30px;
}

#profilePic {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #999;
	float: right;
	margin-top: -8px;
	margin-left: 14px;
	overflow: hidden;
}

	#profilePic img {
		width: 100%;
	}

.controls {
	display: block;
	width: 70px;
	height: 20px;
	color: rgba(255, 255, 255, 0.4);
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	float: right;
	border-radius: 20px;
}

.activeControl {
	background: rgba(255, 255, 255, 0.9);
	color: #202b33;
	font-weight: 600;
}

#salesData {
	margin-bottom: 60px;
}

#totalSales {
	height: 120px;
	position: relative;
	margin-top: 24px;
	margin-bottom: 50px;
}

	#totalSales .col {
		float: left;
		width: 33.33%;
		height: 100%;
	}

		#totalSales .col .progressTitle {
			float: left;
			margin-left: 20px;
			font-weight: 300;
			color: rgba(255, 255, 255, 0.4);
		}

.progressBar {
	float: left;
	height: 120px;
	width: 120px;
	font-size: 40px;
	text-align: center;
	line-height: 120px;
}

/* Icons */
.notification {
	display: block;
	width: 20px;
	height: 20px;
	color: #202b33;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, .6);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2%;
	margin: auto;
}

.colorIcon {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2%;
	margin: auto;
}

.plus {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #202b33;
	font-weight: 600;
	font-size: 16px;
	line-height: 8px;
	padding: 4px;
	margin-right: 6px;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	color: rgba(255, 255, 255, .2);
}

.red {
	background: #ec1561;
}

.orange {
	background: #ff9939;
}

.green {
	background: #2bab51;
}

/* Table */
table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	color: #fff;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 10px;
	padding-bottom: 14px;
}

tr:not(:first-child):hover {
	background: rgba(255, 255, 255, 0.1);
}

td {
	height: 40px;
	line-height: 40px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.4);
	padding: 0 10px;
}
/* Headers */
h1 {
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	float: left;
	font-size: 19px;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 0;
	color: rgba(255, 255, 255, .8);
}

h3 {
	float: left;
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	margin: 0;
	margin-top: 8%;
	margin-left: 20px;
	margin-bottom: 6px;
}

.clearFix {
	clear: both;
}

#preloader {
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

	#loader:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #BA55D3;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}

	#loader:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #FF00FF;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
	}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


